.aboutme{
  min-height: 100vh;
}
.wrapper{
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.aboutTitle{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.bgImg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top:0;
  background-image: url('./../../public/img/bgImage/mohamed-m-6MXDP9u6fmU-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.SkillContainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.SkillContainer > div{
  margin: 32px;
}
.skillName{
  font-weight: bold;
  font-size:16px;
  text-align: center;
  padding: 16px 0;
}
.skillIcon{
  width: 100px;
}
.circle{
  width: 150px;
}
@media screen and (max-width:767px) {
  .circle{
    width: 100px;
  }
  .SkillContainer > div{
    margin: 12px;
  }
}