.card{
    width: 100%;
    height: 250px;
    margin-bottom: 16px;
    border-radius: 5px;
}
.wrapper{
    overflow: hidden;
}
@media screen and (max-width:767px) {
    .card{
        margin-bottom: 8px;
        height: 200px;
    }
}
.overlay{
    opacity: 0;
    height: 100%;
}
.card:hover{
    transform: scale(1.1);
}
.card > .overlay:hover{
    background-color: #0000008a;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font-size: 24px;
    display: flex;
    font-weight: bold;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 12px;
}
.overlay:hover{
    opacity: 0;
}