@font-face {
  font-family: 'AdobeClean';
  src: url('./../public/fonts/AdobeClean-Bold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: Lato;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  padding: 90px 16px
}
@media screen and (min-width:768px) {
  .container{
      padding: 90px 80px
  }
}

/* Galery */
.image-gallery{
  height:100% !important;
  width:100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-gallery-content{
  width:100%;
}
.image-gallery-slide, .image-gallery-content, .image-gallery-slide-wrapper {
  height: 100%;
  /* width:100% !important; */
}
.image-gallery-swipe{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-gallery-slide .image-gallery-image{
  width: auto !important;
  max-width: 100%;
  height: auto !important;
  max-height: 100%;
}


/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

 .CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 100%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #304fff;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #304fff;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #304fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
